*{
    border-radius: 5px ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#parties{
    display: flex;
    justify-content: space-evenly;
    background-color: #33333331;
}
#party {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius:5px ;
}

#counting{
    margin: 0;
    display: flex;
    height: 45px;
    justify-content: space-evenly;
    background-color: aliceblue;
    align-items: center;
}
h1{
    font-size: 12px;
}
#counting button {
    /* background-color: transparent; */
    border-radius: 10px;
    border:1px solid ;
    width: 70%;
}
img{
    height: 150px;
    /* background-image: ; */
}
@media only screen and (max-width: 768px)  {
#parties{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #33333331;
}
}

#LoginCard {
    padding: 10px;
    height: 30vh;
    display: flex;
    background-color: #33333331;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid;
}
#LoginCard div {
    display: flex;
    justify-content: space-between;
}
#LoginCard label {
    margin-right: 10px;
}
#submit{
    border-radius: 10px;
    border:1px solid ;
}
#submit:hover,
button:hover{
    background-color: #333;
    color : white;
}

button{
    margin: 5px;
    color: black;
}
#modify{
    width: 200px;
    align-self: center;
}
